#projects {
  min-height: 600px;
  color: white;
  padding: 50px;
}

.projects-row {
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-evenly;
}
.proj-image {
  width: 100%;
  height: 70%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.project-container {
  height: 250px;
  margin-top: 5px;
  border-radius: 6px;
  width: 300px;
  background-color: #e9e9e9;
  transition: transform 0.2s ease;
}

@media screen and (min-width: 800px) {
  .project-container:hover {
    transform: translateY(5px);
  }
}

.proj-links {
  margin: 20px 0;
  justify-content: space-evenly;
}

.proj-links > a {
  padding: 4px 16px;
  border-radius: 5px;
  background-color: #305ae4;
}

.proj-links > a:hover {
  cursor: pointer;
}
