.hero-banner {
  width: 100%;
  height: 100vh;
  background: url(./Hero4.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  font-family: "Roboto Condensed", sans-serif;
}

.hero-content {
  color: rgb(255, 255, 255);
}

p {
  margin: 0;
}

.headshot {
  max-height: 50vh;
  padding: 25px;
}
