@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    justify-content: center;
  }
  a.nav-link {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
  }
}

.bg-custom {
  background-color: rgba(2, 2, 2, 0.6) !important;
}
.navbar {
  padding: 0.25rem 0.5rem !important;
}
a.nav-link {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  color: rgb(184, 184, 184) !important;
}

a.nav-link:hover {
  color: rgb(255, 255, 255) !important;
}
.navbar-nav {
  align-items: center;
}
.nav-link {
  width: fit-content;
}

.active {
  color: none;
}

.shiftnav {
  background-color: rgba(2, 2, 2, 1) !important;
}
