@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    justify-content: center;
  }
  a.nav-link {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
  }
}

.bg-custom {
  background-color: #000000db !important;
}
.navbar {
  padding: 0.25rem 0.5rem !important;
}
a.nav-link {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  color: rgb(236, 236, 236) !important;
}
.navbar-nav {
  align-items: center;
}
.nav-link {
  width: fit-content;
}

.active {
  color: none;
}
